body {
  background-color: #111;
  color: lime;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas#radar {
  background-color: #000;
  display: block;
  margin: auto;
  border: 1px solid lime;
}

#info, #history {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
